---
layout: default
---

<div class="blog">


  {{ content }}

  
  {%- if site.log.size > 0 -%}
  {% assign posts = site.log | sort: 'date' | reverse %}

    <ul class="post-list">
      {%- for post in posts -%}
      {% unless post.tags contains "integral" %}
      <li> <span class="post-meta">{{ post.date | date: "%B %-d %Y" }}</span> <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a></li>
      {% endunless %}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
