---
layout: default
---

<div class="blog">
  {%- if page.title -%}
    <h1 class="page-heading">Tech</h1>
  {%- endif -%}

  {{ content }}

  
  {%- if site.tech.size > 0 -%}
  {% assign posts = site.tech | sort: 'date' | reverse %}

    <ul class="post-list">
      {%- for post in posts -%}
      {% unless post.tags contains "notes" %}
      <li> <span class="post-meta">{{ post.date | date: "%B %-d %Y" }}</span> <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a></li>
      {% endunless %}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
